@font-face {
    font-family: 'hans_kendrick_3regular';
    src: url('fonts/hanskendrick-regular-webfont.woff2') format('woff2'),
         url('fonts/hanskendrick-regular-webfont.woff') format('woff'),
         url('fonts/hanskendrick-regular-webfont.svg#hans_kendrick_3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'hans_kendrick_3regular', sans-serif;
    font-size: 1em;
}
.card-list {
    display: flex;
    flex-wrap: wrap;
    background: #e2e7ec;
    margin: auto;
    min-width: 800px;
    max-width: 1200px;
}
.card {
    height: 540px;
    background: white;
    margin: 10px;
    width: calc(100% / 3 - 20px);
    display: flex;
    flex-direction: column;
}
.card__main {
    width: calc(200% / 3 - 20px);
    z-index: 1;
}
.card_date,
.card_title {
    margin: 20px 30px;
}
.card_date {
    color: #818181;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1;
}
.card_title {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 30px;
    font-weight: 800;
    margin-top: auto;
}
.card_container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}
.container_main {
    height: inherit;
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}
.container_main .card_date,
.container_main .card_title {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 385px;
}
.container_main .card_title {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    top: 440px;
    width: 60%;
}
.card_image {
    height: 100%;
    width: 100%;
}
.image_main {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.card_author {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: url(img/author.png) 100% 100% no-repeat;
    margin: 30px;
    margin-top: auto;
}
