@fontFamilyMain: 'opensans', sans-serif;
@fontFamilyLight: 'sourcesanspro', sans-serif;


@colorHome: #ffffff;
@colorMain: #81868e;
@colorBg: #f3f3f3;
@colorTitle: #333b46;
@colorScroll: #19bd9a;

.main,
.header,
.home,
.portfolio,
.contact,
.team_contact,
.footer {
    width: 100vw;
    min-width: 1110px;
}
.main {
	max-width: 1366px;
}

a {
    text-decoration: none;
    color: @colorHome;
    font-family: @fontFamilyMain;
    }
.h1 {
	font-family: @fontFamilyLight;
	font-size: 35px;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 70px;
	text-transform: uppercase;
	color: @colorTitle;
}
.h2 {
	font-family: @fontFamilyLight;
	font-size: 14px;
	text-transform: uppercase;
	color: @colorMain;
	font-style: italic;
}
.h3 {
	font-family: @fontFamilyMain;
	font-size: 20px;
	font-weight: 300;
	color: @colorHome;
}
.p {
	font-family: @fontFamilyMain;
	font-size: 14px;
	font-weight: 300;
	color: @colorMain;
	letter-spacing: 4px;
}
.logo {
	width: 120px;
	height: 24px;
	fill: @colorHome;
}
.footer_logo {
	width: 120px;
	height: 24px;
	fill: #323a45;
}
/*---------------------- Header Section --------------------*/
.header {
    position: absolute;
     /*For IE 11*/
    position: fixed;
   /*For all browsers*/
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    z-index: 14;
    margin: 0 auto;
    top: 0;
    &_menu {
	    height: 80px;
	    margin: 0 auto;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
		width: 84%;
	}
}
.menu_link {
	display: -inline-block;
    background-color: transparent;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 22px;
    border: 2px solid rgba(0,0,0,0);
    &:hover {
    	border-radius: 30px;
    	border: 2px solid @colorHome;

    }
}

/*---------------------- END Header Section --------------------*/
/*---------------Section Home---------------*/

.home {
	margin-top: -90px;
	padding-top: 54.17%;
    background-image: url(../img/home.jpg);
    background-size: cover;
    position: relative;
	&_wrap {
	    text-align: center;
	    max-width: 615px;
	    margin: 0 auto;
	    height: 260px;
	    position: absolute;
	    top: 50%;
	    left: 50%;
	    margin: -130px 0 0 -307px;
    }
    &_description {
    	line-height: 28px;
    	margin: 10px 0;
    	& .p {
			color: @colorHome;
		}
   	}
	&_title .h1 {
		color: @colorHome;
	}
}
.scroll_down {
	background-color: @colorScroll;
	position: absolute;
	bottom: 90px;
	left: 48%;
	border-radius: 50%;
	width: 36px;
	height: 36px;
	& a {
		font-size: 35px;
		color: transparent;
		z-index: 99px;
		}
	}
.scroll {
	margin-top: 120px;
	width: 15px;
	height: 12px;
	position: absolute;
	left: 30%;
	bottom: 9px;
	}
/*---------------END Section Home--------------
/*--------------section portfolio--------------*/
.portfolio {
	padding: 90px 0 95px;
	text-align: center;
	background: @colorBg;
	&_title {
		line-height: 12px;
		margin: 0 auto 38px;
		& .h1 {
			font-size: 20px;
			line-height: 12px;
			letter-spacing: 1.1px;
		}
    }
	&_description {
		margin: 0 auto 72px;
		width: 472px;
		& .p {
			line-height: 25px;
			letter-spacing: 1.1px;
		}
    }
    &_item {
    	display: inline-block;
    	color: #464646;
    	font-family: @fontFamilyMain;
    	font-size: 16px;
    	font-weight: 400;
    	padding: 0 10px;
    	height: 32px;
    	margin: 0 5px;
    	&:hover {
    		cursor: pointer;
    	}
    }
}
.active_item {
	border-bottom: 2px solid @colorScroll;
	&:hover {
	 	color: @colorScroll;
	}
	&:active {
	 	text-decoration: none;
	 	position: relative;
	 	top: 1px;
	}
}
.item {
	margin-bottom: 56px;
	text-align: center;
	max-width: 1125px;
	margin: 0 auto;
	margin-bottom: 60px;
	}
.works {
	width: 84%;
	margin: 0 auto;
	}
.portfolio_works__item {
	width: 25%;
	padding-bottom: 10px;
	& img {
		display: block;
		max-width: 100%;
	}
}
/*--------------END section portfolio--------------*/
/*--------------section team--------------*/
.team {
	background: @colorHome;
	&_text {
		text-align: right;
		padding-right: 50px;
	}
	&_h1 {
		text-transform: capitalize;
	}
}
.slider {
	width: 73%;
	margin: 0 auto;
}
.team_slider {
	width: inherit;
	height: 370px;
	margin: auto;
    display: flex !important;
    flex-direction: row;
	justify-content: space-between;
	align-content: stretch;
    align-items: stretch;
	}
.img_slider {
	vertical-align: middle;
}
.team_title {
	border-right: 2px solid @colorScroll;
	padding-right: 50px;
	}
.team_contact {
	height: 200px;
	background: url(../img/contact.jpg) 100% 100% no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
	&__link {
		border-radius: 30px;
		border: 2px solid @colorHome;
		padding: 8px 28px;
		}
	}
// ----------- slick.slider---- DOTS CUSTOMIZE----
.slick-dots li button:before {
    font-size: 10px;
    color: white;
    -webkit-text-stroke: 1px @colorScroll;
	}
.slick-dots li.slick-active button:before {
    color: @colorScroll;
	}
// --------------------------------

/*--------------END section team--------------*/
/*--------------Section testimonials--------------*/
.testimonials {
	background: @colorBg;
}
.slider_test {
	width: 75% !important;
	height: 300px;
}
.slider__white {
	background-color: @colorHome;
    & .img_left {
    	margin: 50px auto;
    	margin-top: 50px;
    }
    & .text_left {
    	text-align: left;
		margin: 30px auto;
		& .test_title {
			margin: auto;
			& h1 {
				color: @colorScroll;
			}
		}
	}
}

/*--------------END Section testimonials--------------*/

/*--------------section contact--------------*/
.contact {
	background: @colorHome;
}
#map {
	width: 100%;
	height: 440px;
	background-color: grey;
}
/*--------------END section contact--------------*/
/*--------------section footer--------------*/
.footer {    
    background: @colorHome;
    font: @fontFamilyMain;
    font-size: 16px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
 .social {
 	margin: 30px auto 60px;;
	& a {
    margin: 0 4px;
	}
}
/*--------------END section footer--------------*/
