*,
::before,
::after {
  margin: 0;
  padding: 0;
  //transition: apacity 1s ease-in, color 3s easy-in-out;
}
body {
background: #f4f4f4;
font: 18px/24px 'Raleway', sans-serif;
color: #303030;
}
.wrap {
  width: 1200px;
  margin: 50px 152px;
}
.nav-main {
  font-size: 0;
}
.nav-main-link a {
  color: #303030;
  text-decoration: none;
  font: 18px/1 Roboto;
  letter-spacing: .025em;
  margin-right: 50px;
}
.nav-main-link,
.nav-main-logo {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
.nav-main-link {
  text-align: right;
}
.menu {
  display: inline-block;
  width: 17px;
  height: 14px;
  background: url(images/menu.png);
}
.nav-main-link a:hover {
  color: #ec5a62;
}
.slider {
  font-size: 0;
  margin-top: 98px;
  margin-left: -10px;
  cursor: pointer;
}
.slider .left {
  display: inline-block;
  width: 610px;
  height: 491px;
  text-align: right;
  padding: 0;
  box-sizing: border-box;
}
.left h1 {
  text-transform: uppercase;
  font: 900 150px/1 'Raleway', sans-serif;
  letter-spacing: 2.5px;
}
.left p {
  font: 300 24px/1.5 'Roboto', sans-serif;
  padding: 24px 0 16px 44px;
}
.left a {
  color: #e10011;
  padding: 0;
  font: 300 24px/1.5 'Roboto', sans-serif;
  text-decoration: none;
}
.left a:hover {
  color: #ec5a62;
}
.slider .right {
  display: inline-block;
  font-size: 24px;
  width: 585px;
  height: 491px;
  overflow: hidden;
  vertical-align: top;
}
.slider img{
  display: block;
  margin: 0 auto;
}
.left:hover,
.social a:hover {
  opacity: 0.8;
}
.point {
  width: 1200px;
  height: 185px;
  font-size:0;
  color: black;
}
.point div {
  display: inline-block;
  vertical-align: center;
  text-align: center;
  font: 900 60px/1.6 'Roboto', sans-serif;
}
.point div:first-child {
  color: red;
  margin-left: 576px;
}
.product {
  background: #ffffff;
  border-radius: 5px;
  padding: 70px 63px;
  font-size: 0;
}
.words,
.opt {
  height: 180px;
  width: 560px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  margin: auto;
  text-align: center;
}
.words h1 {
  font-size: 48px;
  margin: 50px auto 20px auto;
 }

.product-item,
.product-item-strong,
.product-item-over {
  display: inline-block;
  width: 328px;
  height: 387px;
  overflow: hidden;
  border-radius: 10px;
  margin: 15px 15px;
  background: #eeeeee;
  cursor: pointer;
 }
.product-image,
.slider-img {
  transition: all .5s;
}
.product-item:hover .product-image,
.right:hover .slider-img,
.product-item-strong:hover .product-image {
    transform: scale(1.1);
  }
.product-item-strong {
  width: 686px;
}
.product-item:nth-child(1) .product-image {
  margin: -75px -95px;
}
.product-item:nth-child(2) .product-image {
  margin: -75px 45px;
}
.product-item-over .demo {
    display: block;
    text-align: center;
    overflow: hidden;
    width: 328px;
    height: 387px;
    font-size: 20px;
  }
  .demo:hover, .demo:focus, .demo:active {
    background: url(images/braslet.png) no-repeat 50% 50%;

   }

  .demo:hover img, .demo:focus img, .demo:active img  {
    background: transparent;
    visibility: hidden;
  }
/* .product-item-over:hover .product-overlay{
    display: block;
} */
.opt {
  height: 110px;
}
.opt h1 {
  margin: 100px auto 30px auto;
  letter-spacing: 3.5px;

}
.subscribe {
  background: white;
  border-radius: 100px;
  width: 715px;
  margin: 50px auto;
  height: 70px;
}
.subscribe .letter {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin: 30px;
  vertical-align: center;
  background: no-repeat url(images/letter.png);
  //background-position: left center;
  }
.subscribe-button {
  background: red;
  color: white;
  text-transform: uppercase;
  font: 18px/1 Roboto, sans-serif;
  border: 0;
  height: 100%;
  width: 215px;
  border-radius: 0 100px 100px 0;
  vertical-align: top;
}
.subscribe-input {
  width: 400px;
  border: 0;
  height: 70px;
  margin-left: 20px; //50
  font-style: italic;
  color: #979797;
  vertical-align: top;
  font-size: 18px;
  //background: no-repeat url(images/letter.png);
  //background-position: left center;

}
.subscribe-form {
    height: 100%;
    font-size: 0;
}
.social {
  margin: auto;
  text-align: center;
}
img[name=round] {
    border-radius: 100px;
}
.company {
  margin: 60px auto 30px auto;
  text-align: center;
  color: #979797;
}
.colortext {
  color: #303030;
}
.social img[name=round]:hover {
  border: 1px solid #ec5a62;
  border-radius: 100px;
}
