*,
::before,
::after {
  margin: 0;
  padding: 0;
  //transition: apacity 1s ease-in, color 3s easy-in-out;
  //box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #7b8088;
	font-size: 14px;
}
.body {
	width: 100vw;
	height: 100vh;
	background: #c5c5c8;
	position: relative;
}
.body-container {
	width: 800px;
	height: 600px;
	position: absolute;
	background: url(img/bg_3.png) no-repeat;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	margin: auto;
}
.body-container__background1 {
	background: url(img/bg_5.png) no-repeat;
}
.card {
	width: 687px;
	height: 392px;
	position: absolute;
	background: #111a28;
	border-radius: 10px;
	box-shadow: 0 0 82px #000000;
	left: 0;
	bottom: 0;
	top: 0;
	right: 0;
	margin: auto;
}
.logo {
	width: 80px;
	padding: 22px;
	text-align: left;
}
.card__image {
	width: 379px;
	text-align: center;
	position: relative;
	padding: 0 10px;
}
.card__image_preview {
	position: relative;
	top: 45px;
}
.card__image_color {
	height: 40px;
	display: inline-block;
	position: absolute;
	top: 270px;
	left: 170px;
}
.card__image_color1 {
	width: 9px;
	height: 9px;
	border-radius: 100%;
	display: inline-block;
	margin: 3px;
	vertical-align: middle;
}
.color1 {
	background: #1f273f;
	border: 2px solid #7b8088;
}
.color2 {
	background: #ffffff;
}
.color3 {
	background: #ed3333;
}
.color4 {
	background: #29e3ea;
}
.color1:hover,
.color2:hover,
.color3:hover,
.color4:hover {
	border: 2px solid #7b8088;
}
.card__text {
	width: 200px;
	height: 300px;
	text-align: left;
	padding-left: 70px;
	position: absolute;
	left: 379px;
	top: 77px;
	font-weight: 200;
}
	.card__text_size {
	font-size: 24px;
	padding-bottom: 10px;
}
.card__text_hidden {
	height: 18px;
	overflow: hidden;
}
.card__text_stars {
	padding: 20px 0;
}
.card__text_select {
	width: 200px;
	height: 32px;
	margin: 5px 0 20px 0;
}
select[name="Size"],
select[name="Qty"] {
	width: 70px;
	height: 32px;
	border: 2px solid #7b8088;
	display: inline-block;
	background: transparent;
	color: #7b8088;
}
input[name="add_card"] {
	width: 184px;
	height: 40px;
	border: 2px solid #7b8088;
	display: inline-block;
	background: #202835;
	color: #7b8088;
}
