div {
  width: 400px;
  height: 400px;
  background: #252137;
  background:
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	#253137;
  background-size: 100px 100px;
}
.box {
  width: 400px;
  hight: 400px;
  margin: -400px 0;
}
.red {
 	background: #B6272B;
 }
 .black {
 	background: #ffffff;
 }
.red,
.black {
   	border-radius: 100px;
   	width: 40px;
  	height: 40px;
    float: left;
    margin: 5px 5px 5px 55px;
}
.line-3 {
  margin-bottom: 105px;
}
.line-2 {
  margin: 5px 55px 5px 5px;
}

