*,
::before,
::after {
  margin: 0;
  padding: 0;
  transition: apacity 1s ease-in, color 3s easy-in-out;
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 14px;
	background-size: cover;
	background: linear-gradient(to right, rgba(85,57,127,1) 1%,rgba(120,83,145,1) 48%,rgba(138,94,143,1) 100%);
}
.card {
	width: 876px;
	height: 627px;
	overflow: hidden;
	margin: auto;
}
.card {
	background: url(img/bg_t.png) no-repeat;
}
/*---------------------MENU------------------*/
.nav-main {
	font-size: 12.14px;
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 33px;
	display: flex;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
}
.nav-main-link,
.nav-main-logo {
	display: inline-block;
	vertical-align: middle;
}
.menu {
	display: inline-block;
	width: 28px;
	height: 18px;
	background: url(img/menu.png) 50% no-repeat;
	margin-right: 0;
}
.nav-main-logo,
.menu {
	margin: 0 65px;
}
.nav-main-link a {
	text-decoration: none;
	color: white;
	font: 12.14px 'Roboto' 300;
	text-transform: uppercase;
	padding: 0 23px;
}
.nav-main-link a:first-child {
	padding-left: 80px;
}
.nav-main-link a:hover {
  text-decoration: underline;
}
/*------------------END MENU------------------*/

.photoviewer__size-xl {
	display: flex;
}
.photoviewer {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 390px;
	width: 800px;
	background: rgba(255, 255, 255, .3);
	text-align: center;
}
.photoviewer__size-l {
	height: 410px;
	width: 780px;
}
.photoviewer__size-xl {
 width: 750px;
 height: 430px;
 background: rgba(244, 244, 244, .9);
 }

/*------------------CARD_IMAGE------------------*/
.card_image {
	width: 500px;
	height: 430px;
	position: relative;
}
.preview_image {
	border: 1px solid white;
	margin: 30px 9px;
}
.photoviewer_title {
	font-size: 80px;
	letter-spacing: 2px;
	font-weight: 900;
	float: left;
	margin: 70px 45px 0;
}
.photoviewer_image {
	width: 420px;
	vertical-align: middle;
	margin-top: 5px;
	position: absolute;
	right: 30px;
	top: 25px;
}
.preview {
	position: absolute;
	left: 164px;
	top: 336px;
}
/*-----------------END CARD_IMAGE------------------*/

/*-------------------CARD_INFO------------------*/
.card_info {
	width: 250px;
	height: 430px;
	background: #fff;
}





/*-----------------END CARD_INFO------------------*/


/* .photoviewer::before {
	content: " ";
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
} */

