*,
::before,
::after {
  margin: 0;
  padding: 0;
  transition: apacity 1s ease-in, color 3s easy-in-out;
  box-sizing: border-box;
}
body {
font-family: 'Raleway', sans-serif;
font-family: 'Lato', sans-serif;
color: #222222;
font-size: 14px;
background-size: cover;
}
.section-1,
.section-2,
.section-3 {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.section-1 {
background: url(img/here.png) 100% 100% no-repeat;
}
.section-2 {
background: #ffffff;
}
.section-3 {
background: url(img/Layer.png) no-repeat;
}
.nav-main {
  font-size: 0;
  padding: 54px;
  margin-left: 150px;
}
.nav-main-link a {
  color: #ffffff;
  text-decoration: none;
  font: 14px Lato medium;
  text-transform: uppercase;
  margin-right: 50px;
 }
.nav-main-link,
.nav-main-logo {
  display: inline-block;
  vertical-align: middle;
}
.nav-main-logo {
	width: 30%;
	margin-right: 210px;
}
.nav-main-link a:hover {
  color: #ec5a62;
}
.agency {
	display; inline-block;
	font-size: 0;
	color: #ffffff;
	width: 44%;
	margin: 15% auto;
}
.agency div,
.agency .text {
	font: 22px/1.4 Lato;
	display; inline-block;
	text-align: center;
}
.agency h1 {
	text-transform: uppercase;
	font: 48px Raleway;
}
.agency .line {
	border: 1px solid white;
	width: 88px;
	hight: 20px;
	margin: 34px auto;
}
.agency .text {
	letter-spacing: 2px;
}
.serv {
	width: 135px;
	height: 135px;
}
.section-1 .go-to {
	display: inline-block;
  	border: 2px solid white;
  	border-radius: 100px;
  	width: 90px;
 	height: 90px;
	margin: 68% 270px;
  	text-decoration: none;
  	transition: all .23s ease-in-out;
  	text-align: center;
    }
.container,
.container:after,
.container div:first-child,
.container div:last-child {
  position: absolute;
  border: 2px solid #fff;
  box-sizing: border-box;
}
.container {
  border: none;
  width: 10px;
  height: 10px;
  margin-left: 50px;
  position: relative;
}

.container:after {
  content: '';
  display: block;
  left: 0;
  top: 100%;
  margin: 10px 0 0 -20px;
  border-right: none;
  border-top: none;
  border-width: 2px;
  width: 30px;
  height: 30px;
  transform: rotate(-45deg);
}
.container div:first-child,
.container div:last-child {
   border: none;
}
.section-2 h1 {
	text-transform: uppercase;
	font: 35px Raleway;
	text-align: center;
	padding: 50px;
	margin-top: 60px;
}
.section-2 .line {
	border: 1px solid #222222;
	width: 88px;
	hight: 20px;
	margin: auto;
}
.product {
	width: 90%;
	font-size:0;
  font-family: 'Lato', sans-serif;
}

.product:before {
	content: '';
	display: inline-block;
	height: 100%;
	width: 10%;
	vertical-align: middle;
}
.product-phone,
.product-screens,
.product-symbol {
  display: inline-block;
  padding: 10px;
  width: 30%;
  height: 480px;
  overflow: hidden;
  margin: 6% auto;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  white-space: pre-wrap;
  line-height: 1.5;
  }
.product-phone:hover,
.product-screens:hover,
.product-symbol:hover {
    border: 3px solid rgba(0,0,0,0.1);
  }
.product-name {
 font-size: 24px;
 padding: 28px;
}
.product-screens .product-name {
  margin: -10px;
}
.product-symbol .product-name {
  margin: 25px;
  margin-bottom: -10px;
}

.section-3 {
  position: relative;
}
.footer-fixed {
  position: absolute;
bottom: -11%;
  left: 0;
  height: 500px;
  width: 100%;
  font: 22px 'Lato';
  color: white;
}
.footer-fixed_wrap {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 5%;
}
.footer-fixed_img {
	  width: 40%;
	  height: 100%;
	  position: relative;
	  top: -280px;
	  left: 130%;
}
.footer-fixed_content {
    width: 100%;
    height: 50%;
}
.footer-fixed_content > h1 {
  text-transform: uppercase;
}
.footer-fixed_hide {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 40%;
  left: 0;
  }
 .hide {
 	display: none;
 }
.hide + label + div {
	display: none;
	width: inherit;
	height: inherit;
	}
.hide + label {
	//border-bottom: 1px solid white;
	text-decoration: underline;
	padding: 0;
	color: white;
	cursor: pointer;
	display: block;
}
.hide:checked + label {
    border-bottom: 0;
	opacity: 0;
}
.hide:checked + label + div {
	display: block;
	padding: 10px;
}
