body{
	background: linear-gradient(to bottom, rgba(35,35,46,1) 100%,rgba(255,255,255,1) 100%);
	background-repeat: no-repeat;
	background-size: 1920px 850px;
}

/* Layout */
.ba-container {
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}
.ba-header,
.ba-footer {
	display: inline-block;
	width: 100%;
	padding: 80px;
	margin: auto;
}
.ba-header {
	height: 850px;
	background: #23232e;
	color: #ffffff;
}
.ba-footer {
	background: #ffffff;
	color: #464b4f;
	height: 300px;
	font-size: 0;
}
.ba-header h1 {
	text-transform: uppercase;
	font-size: 75px;
}
.ba-header .logo,
.ba-header .header,
.ba-header .text,
.ba-header .colo {
	display: inline-block;
	width: 100%;
	text-align: center;
}
.ba-header .logo {
	margin-bottom: 120px;
}
.ba-header .text {
	margin-top: -20px;
	margin-bottom: 160px;
	font-size: 18px;
	line-height: 1.5em;
}
.product {
	height: 722px;
	font-size: 0;
	text-align: center;
	padding-top: 90px;
	color: #464b4f;

}
.product div {
	font-size: 30px;
	line-height: 1.5em;
}
.product div,
.ba-footer div {
	display: inline-block;
	width: 75%;
	text-align: center;
	padding: 20px;
}
.product h1 {
	padding-top: 20px;
	font-weight: 900;
	font-size: 80px;
	text-transform: uppercase;
}
.ba-footer div {
	height: 100%;
	width: 30%;
	font-size: 18px;
	margin-top: -60px;
	text-align: left;

}
.ba-footer:nth-child(n+2) {
	color: #888a8b;
}
/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
