div {
  width: 400px;
  height: 400px;
  background: #252137;
  background:
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(135deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 50px 50px,
	linear-gradient(-45deg, transparent 75%, rgba(255, 255, 255, .4) 0%) 0 0,
	#253137;
  background-size: 100px 100px;
  position: relative;
}
.red,
.black {
   	border-radius: 100px;
   	width: 40px;
  	height: 40px;
  	position: absolute;
}
 .red {
 	background: #B6272B;
 }
 .black {
 	background: #ffffff;
 }
 .red-1 {
 	left: 12px;
 	top: 362px;
 }
 .red-2 {
 	left: 114px;
 	top: 362px;
}
 .red-3 {
 	left: 214px;
 	top: 362px;
}
 .red-4 {
 	left: 314px;
 	top: 362px;
}
 .red-5 {
 	left: 12px;
 	top: 262px;
 }
 .red-6 {
 	left: 114px;
 	top: 262px;
}
 .red-7 {
 	left: 214px;
 	top: 262px;
}
 .red-8 {
 	left: 314px;
 	top: 262px;
}
.red-9 {
	left: 62px;
	top: 312px;
}
.red-10 {
	left: 162px;
	top: 312px;
}
.red-11 {
	left: 262px;
	top: 312px;
}
.red-12 {
	left: 362px;
	top: 312px;
}
.black-1 {
	left: 12px;
	top: 62px;
}
.black-2 {
	left: 114px;
	top: 62px;
}
.black-3 {
	left: 214px;
	top: 62px;
}
.black-4 {
	left: 314px;
	top: 62px;
}
.black-5 {
	left: 62px;
	top: 12px;
}
.black-6 {
	left: 162px;
	top: 12px;
}
.black-7 {
	left: 262px;
	top: 12px;
}
.black-8 {
	left: 362px;
	top: 12px;
}
.black-9 {
	left: 62px;
	top: 112px;
}
.black-10 {
	left: 162px;
	top: 112px;
}
.black-11 {
	left: 262px;
	top: 112px;
}
.black-12 {
	left: 362px;
	top: 112px;
}
