body {
  font-size: 18px;
  line-height: 1.5;
}
div {
  //border: 1px colid black;
  box-shadow: 0 0 10px 10px rgba(221, 221, 221, 1);
  margin: 10px;
  padding: 40px;
}
header {
  font-family: 'Playfair Display', serif;
}

section,
footer {
 font-family: 'Lato', sans-serif;

}
#t:first-letter {
    font-size: 64px;
    line-height: 1em;
  font-family: "Times New Roman", Times, serif;
    font-weight: bold;
  float: left;
    margin-right: 0.15em;
  padding: 0 2px;
}
.last {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

footer {
text-transform: uppercase;
letter-spacing: 1em;
width: 30%;
color: orange;
text-align: center;
margin-bottom: 30px;
}
.dis {
  border: 1px solid orange;
}
