body {
    font-family: Tahoma, serif;
    font-size: 16px;
    color: white;
    background: #000000;
    padding: 50px;
}
h1 {
	text-decoration: underline;	
}
img {
    border: 5px solid #ffffff;
	float: left;
    margin: 20px;
}
.first{
    overflow: hidden;
    /*columns: 2;*/
}
.right{
    border-right: 2px;
    font-style: italic;
    text-align: right;
}
.strong{
    font-weight: bold;
}
