body {
	font: 300 16px/1.5 'Lato', Arial, sans-serif;
	color: #3c3c3c;
}
/* typography*/
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	letter-spacing: .16em;
	line-height: 1.3;
	text-transform: uppercase;
}
p {
	margin: 0 0 25px;
}
a,
input[type="submit"],
input[type="button"],
button {
  -webkit-transition: color .3s ease-in, border-color .3s easy-in-out;
  -moz-transition: color .3s ease-in, border-color .3s easy-in-out;
  transition: color .3s ease-in, border-color .3s easy-in-out;
}
input[type="submit"],
input[type="button"],
button,
.ba-button {
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover {

}

/* layout */
.ba-header {
	padding-left: 20px;
	padding-right: 20px;
	background: #aeb9d0 url(../img/hero-bg.jpg) 50% no-repeat;
	background-size: cover;
	height: 100vh;
	position: relative;
}
.ba-container {
	max-width: 940px;
	text-align: center;
	margin: auto;
}
.ba-container--hero {
	max-width: 640px;
	padding: 26.44vh 0 35.754vh;
	color: #fff;
	font-size: 15px;
	letter-spacing: .06em;
	text-transform: uppercase;
	line-height: 2;
}
.ba-logo {
	display: inline-block;
	margin-bottom: 80px;
}
.logo {
	width: 69px;
	height: 71px;
}
.ba-header__title {
	letter-spacing: .16em;
	font-weight: 700;
	font-size: 54px;
	margin: 0 0 35px;
}
.ba-scroll {
	display: block;
	width: 23px;
	height: 37px;
	position: absolute;
	bottom: 5vh; //10.71vh;
	left: 50%;
	margin-left: -12px;
}
.ba-scroll:hover {
	opacity: .6;
}
/* about */
.ba-about {
	padding: 160px 0;
}
.ba-box {
	border: 2px solid #3c3c3c;
	border-width: 0 2px 2px;
	padding: 70px 20% 26px;
	position: relative;
}
.ba-box:before,
.ba-box:after {
	display: block;
	position: absolute;
	content: " ";
	height: 2px;
	background: #3c3c3c;
	width: 22%;
	top: 0;
}
.ba-box:before {
	left: 0;
}
.ba-box:after {
	right: 0;
}
.ba-box :last-child {
	margin-bottom: 0;
}
.ba-box--light {
	border-color: #fff;
}
.ba-box--light:before,
.ba-box--light:after {
	background: #fff;
}
.ba-box_title {
	font-size: 34px;
	position: absolute;
	left: 24%;
	top: 0;
	margin: 0;
	text-align: center;
	width: 52%;
	transform:translateY(-50%); /* сместим вверх на его размер */
}
/*  Services  */
.ba-section {
	padding: 130px 0 110px;
}
.ba-section--services {
	color: #fff;
	background: #aeb9d0 url(../img/services.jpg) 50% no-repeat;
	background-size: cover;
}
.ba-shape {
	display: inline-block;
	margin: 54px 0 10px;
}
.shape2 {
	width: 80px; 
	height: 83px;
}
.shape3 {
	width: 79px; 
	height: 76px;
}
.shape4 {
	width: 79px; 
	height: 91px;
}
.ba-box_last {
	padding-bottom: 90px;
}
